@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.nav{
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
}


.logo{
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    color: black;
    font-family: 'Norican', cursive;

}

.nav-link{
    margin: 0 10px;
    text-decoration: none;
    color: rgb(35, 35, 35);
}
.nav-btn{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 14px 28px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 6px;
}
.nav-btn:hover{
    background-color: #fff;
    border: 1px solid black;
    color: black;
}
.nav-link:hover{
    color: rgb(80, 80, 80);
}



.title{
    font-size: 46px;
    margin-bottom: 6px;
}

.user{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/* screen grater than 586px */
@media(min-width:586px){
    .navbar{
        display: flex;
        /* border-bottom: 1px solid #ddd; */
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        width: 800px;
    }
    .navbar-links{
        list-style-type: none;
        display: flex;
    }
    .hero-container{
        display: flex;
        justify-content: space-between;
    }
    section{
        margin: 50px auto;
        width: 800px;
    }
    .intro{
        width: 600px;
    }
    .desc{
        font-size: 17px;
    }
    .blog-container{
        display: flex;
    }
    .blog-card{
        width: 320px;
        border-radius: 14px;
        padding: 8px;
        box-shadow: 0 3px 8px #eee;
        margin: 20px;
        transition: 200ms;
    }
}
/* small less than 586px */
@media(max-width:586px){
    .navbar{
        display: flex;
        /* border-bottom: 1px solid #ddd; */
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        width: 800px;
    }
    .navbar-links{
        display: none;
    }
    .hero-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    section{
        margin: 50px auto;
        margin:30px 6%;
    }
    .intro{
        text-align: center;
    }
    .desc{
        font-size: 15px;
    }
    .blog-container{
        display: flex;
        flex-wrap: wrap;
    }
    .blog-card{
        width: 320px;
        border-radius: 14px;
        padding: 8px;
        box-shadow: 0 3px 8px #eee;
        margin: 20px 0;
        transition: 200ms;
        flex-grow: 1;
    }
}


.blog-card-img{
    width: 100%;
    border-radius: 14px;

}
.blog-card:hover{
    transform: rotate(3deg);
}