body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.food-card{
    width: 420px;
    padding: 10px;
    margin: 30px auto;
    border: 1px solid lightgray;
    border-radius: 16px;

}
.m-0{
    margin: 0;
}
.food-card-img{
    width: 100%;
    border-radius: 16px;
}

/* positions
static -> default
sticky
fixed
relative
absolute
*/

.help-btn{
    background-color: rgb(1, 203, 1);
    color: white;
    padding: 14px 30px;
    border:none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 40px;
}

.offer{
    background-color: rgb(255, 203, 203);
    padding: 20px;
    text-align: center;
    position: sticky;
    top:0;
}


.rel-demo{
    background-color: blueviolet;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
    position: relative;
}
.abs-demo{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.food-card-header{
    position: relative;
}
.ratings{
    position:absolute;
    bottom:0;
    background-color: #fff;
    padding: 6px 16px;
    margin: 20px;
    border-radius: 40px;
    font-size: 15px;
}