body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 400px;
    margin: 50px auto;
}
.btn{
    background-color: tomato;
    color: white;
    padding: 20px 38px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 6px;
}
input{
    border: 1px solid lightgray;
    padding: 17px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
}
input:focus{
    outline: none;
    border: 1px solid tomato;
}
.num{
    width: 50%;
    margin: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #eee
}
.num:focus{
    outline: none;
    border: 1px solid #eee;
}
.flex{
    display: flex;
}
.score-container{
    width: 400px;
    background-color: rgb(252, 252, 252);
    height: 100vh;
    padding: 20px;
}
.section{
    display: flex;
}
.score-content{
    display: flex;
}
.score-card{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    background-color: #ececec;
    padding: 8px 12px;
    box-sizing: border-box;
}
.w-100{
    width: 100%;
}
.card-grow{
    flex-grow: 1;
}
.ml{
    margin-left: 10px;
}
.mb{
    margin-bottom: 10px;
}
.score-flex{
    display: flex;
    align-items: center;
}
.green{
    color: green;
    padding-left: 20px;
}
.achievement-50{
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(255, 238, 196);
    height: 120px;
    margin-top: 10px;
    border-radius: 10px;
}
.achievement-50 h1{
    margin: 0;
}
.d-none{
    display: none;
}