.card{
    display: block;
    width: 340px;
    /* height: 400px; */
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 12px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 16px;

}
.dummy{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin: auto;
    /* padding: 50px; */
    /* padding-top:50px;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 80px; */
    /* padding: 50px 100px; => first value for top and bottom, second once for left and right */
    padding: 10px 20px 30px 40px;
    background-color: tomato;

}
.content{
    height: 300px;
    background-color: blueviolet;
}
.btn{
    background-color: black;
    /* border:1px solid tomato; */
    border:none;
    font-size: 16px;
    color: white;
    padding: 12px 26px;
    border-radius: 40px;
    display: inline-block;
    text-decoration: none;
}
.card-overflow{
    overflow-y: auto;
    overflow-x: hidden;
}
/* display
block=>defualt
none
inline
inline-block
*/

.ratings{
    background-color: rgb(222, 255, 222);
    font-size: 14px;
    color: green;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 30px;
    /* margin-top: 100px; */
}