.btn-dark{
    background-color: #000 !important;
}
.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.task-done:checked+p{
    /* text-decoration: line-through; */
    background-color: rgb(255, 246, 204);
}   
.task:hover{
    cursor: pointer;
}
.delete:hover{
    color: red;
}
.delete{
    /* display: none; */
}
.task:hover+.delete{
    display: block !important;
}
input{
    border-radius: 12px !important;
}
.btn{
    border-radius: 12px !important;

}