body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
.card{
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 10px;
    margin-top: 30px;

}
.card img{
    height: 240px;
    object-fit: cover;
    width: 100%;
    border-radius: 16px;

}
.flex{
    justify-content: center;
    display: flex;
}
input{
    border: 1px solid lightgray;
    padding: 16px;
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 10px;

}
input:last-child{
    margin-left: 10px;
}
.btn{
    background-color: black;
    color: white;
    padding: 17px 38px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.alert{
    border: 1px solid lightgray;
    padding: 20px;
    animation-name: alert;
    animation-duration: 200ms;
    position: fixed;
    top:0 ;
    right: 0;
    margin-top: -100px;
    animation-fill-mode: forwards;
    border-radius: 10px 0  0 10px  ;
}
.success{
    background-color: rgb(228, 255, 228);
    color: green;
    border: 1px solid rgb(164, 255, 164);
}
.danger{
    background-color: rgb(255, 228, 228);
    color: rgb(128, 0, 0);
    border: 1px solid rgb(255, 164, 164);
}
@keyframes alert{
    100%{
        margin-top: 50px;

    }
}
.d-none{
    display: none;
}
.hide-alert{
    animation-name: hide-alert;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
@keyframes hide-alert{
    100%{
        -top: -100px;
    }
}