.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: bisque;
}
form{
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 400px;
  margin: 50px auto;
}
input{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 12px;
  font-size: 17px;
  margin-top: 12px;
}
.btn{
  background-color: black;
  color: white;
  padding: 18px 38px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
}
form h2{
  font-size: 60px;
  margin: 0;
}