<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
  <%- include('nav') %>
    <section>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="fw-bold fs-3 mb-3">Add New Product</h2>
                    <form method="post" action="/store-product">
                        
                        <div class="d-flex" style="gap:12px">
                            <div class="form-floating mb-3 w-50">
                                <input type="text" name="title" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Title</label>
                              </div>
                              <div class="form-floating mb-3 w-50">
                                <input type="text" name="img" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Image</label>
                              </div>
                            
                        </div>
                        <div class="d-flex" style="gap:12px">
                            <div class="form-floating mb-3 w-50">
                                <input type="text" name="pricing" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Pricing</label>
                              </div>

                              <div class="form-floating mb-3 w-50">
                                <input type="text" name="status" class="form-control"  id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Status</label>
                              </div>
                        </div>
                          
                          <div class="form-floatin text-left" style="text-align: left;">
                            <label for="floatingPassword">Desc</label>
                            <textarea name="desc" rows="4" cols="10" class="form-control"   placeholder="Remark" ></textarea>
                            
                          </div>
                          <button class="btn btn-primary mt-3 w-100 py-3 ">Create New Product</button>
                        </form>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>